<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-site='{{ site.data | jsonify }}'>

    {% include header.html %}

    <div class="container">
      {% include intro.html %}
      <hr>
      {{ content }}
    </div>

    {% include modals/about.html %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53489603-6', 'auto');
      ga('send', 'pageview');

    </script>
  </body>

</html>
